{% extends 'container.html'%}
{% block title%} Create Password | PPM{%endblock%}
{% block page_heading %}
Create Password
{%endblock%}
{% block body %}

<!-- Default Card Example -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="card mt-4 ">
                <div class="card-header">
                    Generate Password
                </div>
                <div class="card-body">
                    <form action="create" autocomplete="off" method="post">
                        {%csrf_token%}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password for *</label>
                            <select name='apptype' class="form-control  form-control-lg">
                                <option value="website">Website</option>
                                <option value="apps">Apps</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">App/Website Name *</label>
                            <input type="text" name="app_web_name" class="form-control"
                                   autocomplete="off" placeholder="Enter App or Website name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control"
                                   autocomplete="off" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Username</label>
                            <input name="username" type="text" class="form-control"
                                   placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Store Password *</label>
                            <input name="createpassword" type="text" class="form-control"
                                   placeholder="Enter your Password">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Other Details</label>
                            <textarea name="otherDetails" class="form-control" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mt-4">
                <div class="card-header">
                    Recent
                </div>
                <div class="card-body">
                    <table class="table">

                        <tbody>

                        {% for item in recent %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="viewdetails/{{item.id}}" >{{item.app_or_web}}</a></td>

                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}

{% block js %}
<script>

</script>
{%endblock%}